
body, html{
    height:100%;
    margin:0;
    font-size:16px;
    font-family:"Lato", sans-serif;
    font-weight:400;
    line-height:1.8em;
    color:#666;
  }
  
 
  .pimg1, .pimg2, .pimg3{
    position:relative;
    opacity:0.70;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
  
    /*
      fixed = parallax
      scroll = normal
    */
    background-attachment:fixed;
  }
  
  .pimg1{
    background-image:url('img/img_1.jpg');
    min-height:100%;
  }
  
  .pimg2{
    background-image:url('img/img_2.jpg');
    min-height:400px;
  }
  
  .pimg3{
    background-image:url('img/img_3.jpg');
    min-height:400px;
  }

  .last{
      max-height: 75%;
  }
  
  .section{
    text-align:center;
    padding:50px 80px;
  }
  
  .song{
      /*padding: 100px;*/
      font-size: inherit;
      text-decoration: none;
      color: inherit;
  }

  a{
    text-decoration: none;
  }
  a:hover{
    text-decoration: underline;
    font-size: 18px;
    color: black;
  }

 .happy{
    color:orange;
  }

  .section-light{
    background-color:#f4f4f4;
    color:#666;
  }
  
  .section-dark{
    background-color:#282e34;
    color:#ddd;
  }
  
  .ptext{
    position:absolute;
    top:50%;
    width:100%;
    text-align:center;
    color:#000;
    font-size:27px;
    letter-spacing:8px;
    text-transform:uppercase;
  }
  
  .ptext .border{
    background-color: #f2b63f;
    color:#fff;
    /*padding:20px;*/
  }

  /*.border2{
    margin: 10000px;
    background-color:#fff;
    color:#111;
    padding:20px; 
  }*/
  
  .ptext .border.trans{
    background-color:transparent;
  }
  
@media(max-width:568px){
    .pimg1, .pimg2, .pimg3{
      background-attachment:scroll;
    }
    .song-listing{
      display: flex;
      flex-direction: column;
      margin: 20px;
      padding: 20px;
    }
    .song ,.section-light{
      padding: 0px;
      /*font-size: larger;*/
    font-size: x-large;
    }
    
    .cushion{
      padding:4px;
    }
  }

@media(min-width:570px) and (max-width:960px){
  .border{padding:3px;}
}

@media(min-width:960px){
  .border{
    padding: 20px;
  }
}

.song-listing{
  display: flex;
  margin: 20px;
  padding: 20px;
}

.motivated{
  color: blanchedalmond; 
  font-size: x-large;
}
  
.h2{
  background-color: #f4f4f4;
}

.cushion{
  padding:10px;
}

.grad-effect-sad{
  background: radial-gradient(white,transparent);
}

.signature{
  background: linear-gradient(to left,#FFC23F,transparent);
  top:70%;
}
